.CadetBox {
    width: 33%;
    height: 200px;
    background-color: cadetblue;
    float: left;
    text-align: center;
    font-size: 100px;
    color: white;
    line-height: 200px;
    user-select: none; /* !!! da ne selktuje text ... bez plavog okvira */
}